// COLORS
$color_white: #fff;
$color_grey: #777;
$color_lightblue: #8C9AC5;
$color_darkblue: #00A6E5;
$color_black: #000;
$color_blue: #2F80ED;
$color_darkgrey: #4F4F4F;

// GRID
$grid-width: 108rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
