.landing__about {
  background: url(../../img/seun__ajiboye_20200203_090758_0.jpg) no-repeat center center !important;

  .showcase__about {
    position: absolute;
    top: 45%;
    margin: 0rem 4rem;
    padding: 0 1.3rem;

    span {
      display: block;
      font-size: 2.5rem;
      color: #fff;
      width: 55rem;
      letter-spacing: 1.5px;
    }
  }
}
